In [ ]:
pip install lightautoml

In [ ]:
pip install optuna

In [ ]:
import pandas as pd
import numpy as np
import typing
import torch
from google.colab import drive
from sklearn.model_selection import train_test_split
from lightautoml.automl.presets.tabular_presets import TabularAutoML
from lightautoml.automl.presets.tabular_presets import TabularUtilizedAutoML
from lightautoml.tasks import Task
from google.colab import files
from sklearn.model_selection import KFold
drive.mount('/content/drive')

In [21]:
# кастомная метрика от райфа
THRESHOLD = 0.15
NEGATIVE_WEIGHT = 1.1
def deviation_metric_vec(y_true: np.array, y_pred: np.array) -> float:
    deviation = (y_pred - y_true) / np.maximum(1e-8, y_true)
    
    metr = deviation * 0.0 + 9
    
    metr[np.abs(deviation) <= THRESHOLD] = 0
    
    metr[deviation <= - 4 * THRESHOLD] = 9 * NEGATIVE_WEIGHT
    
    mask = (-4 * THRESHOLD < deviation) & (deviation < -THRESHOLD)
    metr[mask] = NEGATIVE_WEIGHT * ((deviation[mask] / THRESHOLD) + 1) ** 2
    
    mask = (deviation < 4 * THRESHOLD) & (deviation > THRESHOLD)
    metr[mask] = ((deviation[mask] / THRESHOLD) - 1) ** 2
    
    return metr.mean()

In [8]:
train_data = pd.read_csv('/content/drive/My Drive/data/train.csv', low_memory=False)
test_data = pd.read_csv('/content/drive/My Drive/data/test.csv', low_memory=False)
train_data.head()

          city floor     id  ...        date  realty_type  price_type
0        Пермь   NaN  COL_0  ...  2020-01-05           10           0
1       Шатура   NaN  COL_1  ...  2020-01-05           10           0
2    Ярославль   NaN  COL_2  ...  2020-01-05          110           0
3  Новокузнецк   NaN  COL_3  ...  2020-01-05          110           0
4       Москва   NaN  COL_4  ...  2020-01-05           10           0

[5 rows x 77 columns]

In [9]:
train_data.shape, test_data.shape

((279792, 77), (2974, 76))

In [10]:
for col in train_data.select_dtypes(include=np.number).columns:
    train_data[col] = pd.to_numeric(train_data[col], downcast = 'unsigned')

In [11]:
# добавляем новые фичи
city_population = pd.read_csv('/content/drive/My Drive/data/city_population.csv')
zarplaty = pd.read_excel('/content/drive/My Drive/data/zarplaty.xlsx')

def city_type(row):
    if row >=1000000:
        return "1Million"
    elif  (row<1000000)&(row >200000):
        return "Medium"
    elif  (row <=200000):
        return "Small"
    
def add_features(df):
    df['age'] = round(2021 - df['reform_mean_year_building_500'])
    df.city = df.city.apply(lambda x: x.lower())
    
    city_population_clean = city_population.groupby('settlement').agg({'population':'sum'}).reset_index()
    city_population_clean.columns = ['city', 'city_population']
    city_population_clean['city_population']
    city_population_clean.city = city_population_clean.city.apply(lambda x: x.lower())
    df = df.merge(city_population_clean, on = 'city', how='left')
    
    for col in df.select_dtypes(include=np.number).columns:
        df[col] = pd.to_numeric(df[col], downcast = 'unsigned')
    
    df['city_type'] = df['city_population'].apply(lambda x: city_type(x))
    df.loc[df.city  == 'москва', 'city_type'] = "Capital"
    df.loc[df.city  == 'санкт-Петербург', 'city_type'] = "Capital"
    
    df = df.merge(zarplaty, on = 'region', how='left')
    df['zarplata'] = pd.to_numeric(df['zarplata'], downcast = 'unsigned')    
    return df

In [12]:
train_data = add_features(train_data)
test_data = add_features(test_data)

In [16]:
# оставляем только данные с ручной оценкой
train_data = train_data.query('price_type == 1')
data = pd.concat([train_data, test_data], ignore_index = False)

In [17]:
labeled_features = ['city','osm_city_nearest_name', 'region','city_type']

for col in labeled_features:
    data[col].fillna('UNKNOWN', inplace=True)

data = data.drop('date', axis=1)
data = data.drop('id', axis=1)
data = data.drop(['street'], axis=1)

# вручную обрабатываем этажи (можно добавить количество этажей как фичу)
data['floor'] = data['floor'].mask(data['floor'] == '-1.0', -1) \
              .mask(data['floor'] == '-2.0', -2) \
              .mask(data['floor'] == '-3.0', -3) \
              .mask(data['floor'] == 'подвал, 1', 1) \
              .mask(data['floor'] == 'подвал', -1) \
              .mask(data['floor'] == 'цоколь, 1', 1) \
              .mask(data['floor'] == '1,2,антресоль', 1) \
              .mask(data['floor'] == 'цоколь', 0) \
              .mask(data['floor'] == 'тех.этаж (6)', 6) \
              .mask(data['floor'] == 'Подвал', -1) \
              .mask(data['floor'] == 'Цоколь', 0) \
              .mask(data['floor'] == 'фактически на уровне 1 этажа', 1) \
              .mask(data['floor'] == '1,2,3', 1) \
              .mask(data['floor'] == '1, подвал', 1) \
              .mask(data['floor'] == '1,2,3,4', 1) \
              .mask(data['floor'] == '1,2', 1) \
              .mask(data['floor'] == '1,2,3,4,5', 1) \
              .mask(data['floor'] == '5, мансарда', 5) \
              .mask(data['floor'] == '1-й, подвал', 1) \
              .mask(data['floor'] == '1, подвал, антресоль', 1) \
              .mask(data['floor'] == 'мезонин', 2) \
              .mask(data['floor'] == 'подвал, 1-3', 1) \
              .mask(data['floor'] == '1 (Цокольный этаж)', 0) \
              .mask(data['floor'] == '3, Мансарда (4 эт)', 3) \
              .mask(data['floor'] == 'подвал,1', 1) \
              .mask(data['floor'] == '1, антресоль', 1) \
              .mask(data['floor'] == '1-3', 1) \
              .mask(data['floor'] == 'мансарда (4эт)', 4) \
              .mask(data['floor'] == '1, 2.', 1) \
              .mask(data['floor'] == 'подвал , 1 ', 1) \
              .mask(data['floor'] == '1, 2', 1) \
              .mask(data['floor'] == 'подвал, 1,2,3', 1) \
              .mask(data['floor'] == '1 + подвал (без отделки)', 1) \
              .mask(data['floor'] == 'мансарда', 3) \
              .mask(data['floor'] == '2,3', 2) \
              .mask(data['floor'] == '4, 5', 4) \
              .mask(data['floor'] == '1-й, 2-й', 1) \
              .mask(data['floor'] == '1 этаж, подвал', 1) \
              .mask(data['floor'] == '1, цоколь', 1) \
              .mask(data['floor'] == 'подвал, 1-7, техэтаж', 1) \
              .mask(data['floor'] == '3 (антресоль)', 3) \
              .mask(data['floor'] == '1, 2, 3', 1) \
              .mask(data['floor'] == 'Цоколь, 1,2(мансарда)', 1) \
              .mask(data['floor'] == 'подвал, 3. 4 этаж', 3) \
              .mask(data['floor'] == 'подвал, 1-4 этаж', 1) \
              .mask(data['floor'] == 'подва, 1.2 этаж', 1) \
              .mask(data['floor'] == '2, 3', 2) \
              .mask(data['floor'] == '7,8', 7) \
              .mask(data['floor'] == '1 этаж', 1) \
              .mask(data['floor'] == '1-й', 1) \
              .mask(data['floor'] == '3 этаж', 3) \
              .mask(data['floor'] == '4 этаж', 4) \
              .mask(data['floor'] == '5 этаж', 5) \
              .mask(data['floor'] == 'подвал,1,2,3,4,5', 1) \
              .mask(data['floor'] == 'подвал, цоколь, 1 этаж', 1) \
              .mask(data['floor'] == '3, мансарда', 3) \
              .mask(data['floor'] == 'цоколь, 1, 2,3,4,5,6', 1) \
              .mask(data['floor'] == ' 1, 2, Антресоль', 1) \
              .mask(data['floor'] == '3 этаж, мансарда (4 этаж)', 3) \
              .mask(data['floor'] == 'цокольный', 0) \
              .mask(data['floor'] == '1,2 ', 1) \
              .mask(data['floor'] == '3,4', 3) \
              .mask(data['floor'] == 'подвал, 1 и 4 этаж', 1) \
              .mask(data['floor'] == '5(мансарда)', 5) \
              .mask(data['floor'] == 'технический этаж,5,6', 5) \
              .mask(data['floor'] == ' 1-2, подвальный', 1) \
              .mask(data['floor'] == '1, 2, 3, мансардный', 1) \
              .mask(data['floor'] == 'подвал, 1, 2, 3', 1) \
              .mask(data['floor'] == '1,2,3, антресоль, технический этаж', 1) \
              .mask(data['floor'] == '3, 4', 3) \
              .mask(data['floor'] == '1-3 этажи, цоколь (188,4 кв.м), подвал (104 кв.м)', 1) \
              .mask(data['floor'] == '1,2,3,4, подвал', 1) \
              .mask(data['floor'] == '2-й', 2) \
              .mask(data['floor'] == '1, 2 этаж', 1) \
              .mask(data['floor'] == 'подвал, 1, 2', 1) \
              .mask(data['floor'] == '1-7', 1) \
              .mask(data['floor'] == '1 (по док-м цоколь)', 1) \
              .mask(data['floor'] == '1,2,подвал ', 1) \
              .mask(data['floor'] == 'подвал, 2', 2) \
              .mask(data['floor'] == 'подвал,1,2,3', 1) \
              .mask(data['floor'] == '1,2,3 этаж, подвал ', 1) \
              .mask(data['floor'] == '1,2,3 этаж, подвал', 1) \
              .mask(data['floor'] == '2, 3, 4, тех.этаж', 2) \
              .mask(data['floor'] == 'цокольный, 1,2', 1) \
              .mask(data['floor'] == 'Техническое подполье', -1) \
              .mask(data['floor'] == '1.2', 1) \
              .astype(float)
data = pd.get_dummies(data)
data

        floor        lat  ...  city_type_Small  city_type_UNKNOWN
275474    NaN  56.063615  ...                0                  0
275475    NaN  51.534581  ...                0                  0
275476    NaN  56.026884  ...                0                  0
275477    NaN  52.275528  ...                0                  0
275478    NaN  50.576545  ...                0                  0
...       ...        ...  ...              ...                ...
2969      4.0  55.978180  ...                0                  0
2970      1.0  56.459183  ...                0                  0
2971     -1.0  54.523247  ...                0                  0
2972      NaN  56.328236  ...                0                  0
2973      NaN  56.343952  ...                0                  0

[7467 rows x 485 columns]

In [18]:
train_data = data.iloc[0:train_data.shape[0]]
test_data = data.iloc[train_data.shape[0]:]

In [19]:
train_data.shape, test_data.shape

((4493, 485), (2974, 485))

In [20]:
target = train_data['per_square_meter_price']
train_data = train_data.drop('per_square_meter_price', axis=1)
test_data = test_data.drop('per_square_meter_price', axis=1)

In [ ]:
import optuna
from optuna.samplers import TPESampler
import lightgbm as lgbm
sampler = TPESampler(seed=13)

def create_model(trial):
    num_leaves = trial.suggest_int("num_leaves", 2, 1500)
    n_estimators = trial.suggest_int("n_estimators", 10, 1000)
    max_depth = trial.suggest_int('max_depth', 2, 20)
    min_child_samples = trial.suggest_int('min_child_samples', 2, 3000)
    learning_rate = trial.suggest_uniform('learning_rate', 0.001, 0.3)
    min_data_in_leaf = trial.suggest_int('min_data_in_leaf', 2, 300)
    feature_fraction = trial.suggest_uniform('feature_fraction', 0.00001, 1.0)
    
    model = lgbm.LGBMRegressor(
        num_leaves=num_leaves,
        n_estimators=n_estimators, 
        max_depth=max_depth, 
        min_child_samples=min_child_samples, 
        min_data_in_leaf=min_data_in_leaf,
        learning_rate=learning_rate,
        feature_fraction=feature_fraction,
        random_state=13,
        n_jobs=-1
)
    return model

def objective(trial):
    model = create_model(trial)
    X_train = train_data.iloc[:train_data.shape[0]-1125]
    X_val = train_data.iloc[train_data.shape[0]-1125:]
    y_train = target.iloc[:train_data.shape[0]-1125]
    y_val = target[train_data.shape[0]-1125:]
    model.fit(X_train.values, y_train,)
    result = model.predict(X_val.values)
    score = deviation_metric_vec(y_val, result)
    return score

study = optuna.create_study(direction="minimize", sampler=sampler)
study.optimize(objective, n_trials=100)
params_lgbm = study.best_params

In [ ]:
model = lgbm.LGBMRegressor(**params_lgbm)
kFold_random_state = [13, 666]
n_splits = 5

final_loss = list()

submission = pd.read_csv('/content/drive/My Drive/data/test_submission.csv')
submission.iloc[:, 1] = 0


for ind_k, random_state in enumerate(kFold_random_state):
    kFold = KFold(n_splits=n_splits, shuffle=True, random_state=random_state)
    total_loss = list()

    for iteration, (train_index, valid_index) in enumerate(kFold.split(train_data, target)):

        X_train, X_valid = train_data.iloc[train_index].reset_index(drop=True), train_data.iloc[valid_index].reset_index(drop=True)
        y_train, y_valid = target.iloc[train_index], target.iloc[valid_index]

        model.fit(X_train.values, y_train)
        valid_pred = model.predict(X_valid.values)
        loss = deviation_metric_vec(y_valid, valid_pred)

        predict = model.predict(test_data)
        submission['per_square_meter_price'] = submission['per_square_meter_price'] + predict / 10

        total_loss.append(np.mean(loss))

    final_loss.append(np.mean(total_loss))
    print(f'deviation_metric: {np.mean(total_loss)}')
print(f'Final deviation_metric: {np.mean(final_loss)}')

In [292]:
# подрежем таргеты сверху
submission['per_square_meter_price'] = submission['per_square_meter_price'] * 0.9

submission.loc[submission['per_square_meter_price'] >= 200000, 'per_square_meter_price'] \
    = submission.loc[submission['per_square_meter_price'] >= 200000, 'per_square_meter_price'] * 0.9
pred = submission['per_square_meter_price']
print(pred)

In [317]:
# сделаем пседво лэйблы
test_data['per_square_meter_price'] = list(pred)
train_data['per_square_meter_price'] = target
df = pd.concat([train_data, test_data], ignore_index = False)
test_data = test_data.drop(columns=['per_square_meter_price'], axis=1)

In [232]:
test_data['per_square_meter_price'] = pred
train_data['per_square_meter_price'] = target
df = pd.concat([train_data, test_data], ignore_index = False)
test_data = test_data.drop('per_square_meter_price', axis=1)
df.shape, test_data.shape

((7467, 482), (2974, 481))

In [ ]:
N_THREADS = 4
N_FOLDS = 5
RANDOM_STATE = 42
TIMEOUT = 500
np.random.seed(RANDOM_STATE)
torch.set_num_threads(N_THREADS)

task = Task('reg', loss = 'mae', metric = deviation_metric_vec)
roles = {'target': 'per_square_meter_price'}

automl = TabularAutoML(task = task,
                               timeout = TIMEOUT,
                               cpu_limit = N_THREADS,
                               reader_params = {'n_jobs': N_THREADS,
                                                'cv': N_FOLDS,
                                                'random_state': RANDOM_STATE})

oof_pred = automl.fit_predict(df, roles = roles)

In [319]:
test_pred = automl.predict(test_data)
output = pd.read_csv('/content/drive/My Drive/data/test_submission.csv')
output["per_square_meter_price"] = test_pred.data[:, 0]
submission.to_csv('sub.csv', index=False)
files.download("sub.csv")